body {
  width: 100%;
  height: 100vh;

  margin: 0;
  padding: 0;
  
  background: #DDDDDD;

  overflow: auto;
}

#conway-background {
  position: absolute;
  width: 100%;
  
  margin: 0;
  padding: 0;
  
  background: #000000;

  z-index: -1;
}

#icons {
  
}

#icons img:not(#small-icon) {
  width: 64px;
  display:flex;
}
#small-icon {
  display: flex;
  width: 100px;
  margin-top: auto;
  margin-bottom: auto;
}

.center {
  width:100%;
  display: flex;
  justify-content: center;
}
